 @charset "utf-8";
 *{
 	padding: 0;
 	margin: 0;
 	list-style-type: none;
 }
 .all{
 	width: 1000px;
 	margin: 0 auto;
 	background-color: red;
 }
 #header{
 	
 }
 #content{
 	width: 600px;
 	height: 200px;
 	background-color: #3d3b14;

 }
 .left{
 	width: 150px;
 	background-color: #4e94c8;

 }
 .left ul{

 }
 .left ul li{
 	
 	line-height: 40px;
 }
 .right{

 }
 #footer{

 }